<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fypmetroapp">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="NEWEST AVAILABLE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:glEsVersion="0x00010001"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYPMetroApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NoAccess"
            android:label="@string/title_activity_no_access"
            android:theme="@style/Theme.FYPMetroApp.NoActionBar"></activity>
        <activity android:name=".DirectionsActivity" />
        <activity android:name=".PermissionsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".NoLocationAccess" />
        <activity
            android:name=".SplashActivity"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver
            android:name=".GeofenceBroadcastReceiver"
            android:allowBackup="true"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".NavigationActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="OnlineRouting.Key"
            android:value="DenCQtAmEE7AmZQNxMmxDDOCqA9U3yaT" />
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="Pou5ZggAmjSGbpCtLK4tmQ" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="VVS0zN8MNDO36qxox9SIzgSqoGbVP-VYm-FgpBWBMGSfhNSYn01GtQzPqOd4eOvl9ULb13kpXuEsQODLUXmphQ" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".RouteInfo" />
    </application>

</manifest>